mixin action-select()
  .inner-item
    select
      option(value="") --- Hành động ---
      option(value="active") Hoạt động
      option(value="inactive") Dừng hoạt động
      option(value="delete") Xóa