extends ../layouts/default.pug

block title
  title Quản lý danh mục

block main
  h1.box-title Quản lý danh mục

  // Section 4
  .section-4
    .inner-wrap 
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select
          option(value="") Trạng thái
          option(value="") Hoạt động
          option(value="") Tạm dừng
      .inner-item
        select
          option(value="") Người tạo
          option(value="") Lê Văn A
          option(value="") Lê Văn B
      .inner-item
        input(type="date")
        span -
        input(type="date")
      .inner-item.inner-reset 
        <i class="fa-solid fa-rotate-right"></i> Xóa bộ lọc

  // End Section 4