doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Tổng quan
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css")
    link(rel="stylesheet" href="assets/css/lib.css")
    link(rel="stylesheet" href="assets/css/style.css")
  body
    // Header
    header.header 
      .inner-logo 
        a(href="#") 
          span 28
          span Admin
      .inner-wrap
        .inner-notify
          img(src="assets/images/icon-bell.svg" alt="")
          span 6
        .inner-account
          .inner-avatar
            img(src="assets/images/avatar.png" alt="")
          .inner-text
            .inner-name Le Van A
            .inner-role Admin
    // End Header

    // Sider
    nav.sider Sider
    // End Sider

    // Main
    main.main Main
    // ENdMain