extends ../layouts/default.pug

block title
  title Tổng quan

block main
  h1.box-title Tổng quan

  // Section 1
  .section-1
    .inner-item
      img(src="assets/images/section-1-i-1.svg", class="inner-icon")
      .inner-content
        .inner-title Người dùng
        .inner-number 1.200
    .inner-item
      img(src="assets/images/section-1-i-2.svg", class="inner-icon")
      .inner-content
        .inner-title Đơn hàng
        .inner-number 3.600
    .inner-item
      img(src="assets/images/section-1-i-3.svg", class="inner-icon")
      .inner-content
        .inner-title Doanh thu
        .inner-number 300.000.000đ
  // End Section 1

  // Section 2
  .section-2
    .inner-head
      h2.inner-title Biểu đồ doanh thu
      .inner-filter
        input(type="month")
    .inner-chart Chart...
  // End Section 2
