extends ../layouts/default.pug

block title
  title Đổi mật khẩu

block main
  h1.box-title Đổi mật khẩu

  // Section 8
  .section-8
    form(action="" id="profile-change-password-form")
      .inner-group 
        label.inner-label(for="password") Mật khẩu mới *
        input(type="password" id="password" name="password")
      .inner-group 
        label.inner-label(for="newPassword") Nhập lại mật khẩu mớiMật khẩu mới *
        input(type="password" id="newPassword" name="newPassword")
      .inner-button.inner-two-col
        button Đổi mật khẩu
  // End Section 8